<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <link type="text/css" rel="stylesheet" href="https://staging.erp.leekim.online/assets/leekimerp/css/pdf_reset.css">
        <style>
            table, tr, td { border: 1px solid black; }
            * { font-size: 10px;}
            .table_bl_border { border-top: 1px solid #dddddd; border-right: 1px solid #dddddd; }
            .table_bl_border tr td { border-bottom: 1px solid #dddddd; border-left: 1px solid #dddddd; }
            .table_bl_border tr th { border-bottom: 1px solid #dddddd; border-left: 1px solid #dddddd; }
        
            .tl { height: 23px; line-height: 19px; padding-left: 10px; text-align: left; font-size: 100%; }
            .rl { height: 30px; line-height: 19px; padding-left: 5px; text-align: left; background-color: #ccccff; font-size: 20px; font-weight: bold;}
            .ttl { height: 30px; line-height: 19px; padding-left: 5px; text-align: left; font-size: 15px; }
            .ttc { height: 30px; line-height: 19px; padding-left: 5px; text-align: center; font-size: 16px; }
            .tc { height: 23px; line-height: 19px; padding-left: 10px; text-align: center; }
            .tr { height: 23px; line-height: 19px; padding-left: 10px; text-align: right; }
            .pl { height: 23px; line-height: 19px; padding-left: 10px; text-align: left; background-color: #efefef; color: #333333; }
            .pc { height: 23px; line-height: 19px; padding-left: 10px; text-align: center; background-color: #efefef; color: #333333; }
            .pr { height: 23px; line-height: 19px; padding-left: 10px; text-align: right; background-color: #efefef; color: #333333; }
        </style>
    </head>

    <body>
        <table border="0" cellspacing="0" cellpadding="0" style="margin-top: -10px;">
            <tr>
                <td align="left"><img src="https://staging.erp.leekim.online/files/Authorisation_Form_Top001.png" width="100%"></td>
            </tr>
        </table>
        
        <table border="1" cellspacing="0" cellpadding="0" width="100%" style="margin-top: 5px;">
            <tr style="font-family: Arial, Helvetica, sans-serif;">
                <td class="rl"> Declaration by Employer</td>
            </tr>
        </table>

        <table border="1" cellspacing="0" cellpadding="0" width="100%" style="font-family: Arial, Helvetica, sans-serif;">
            <tr>
                <td width="19%" class="ttl"> Business Name</td>
                <td width="81%" class="ttl" colspan="2"> {{ app.company_name or '' }} {{ comp.company_type or '' }}</td>
            </tr>
            <tr>
                <td width="19%" class="ttl"> Business UEN</td>
                <td width="81%" class="ttl" colspan="2"> {{ app.applicant_company or '' }}</td>
            </tr>
            <tr>
                <td width="19%" class="ttl"> Business Address</td>
                <td width="81%" class="ttl" colspan="2"> {{ comp.addr_1 or '' }} {{ comp.addr_2 }} {{ comp.postcode }}</td>
            </tr>
            <tr>
                <td width="19%" class="ttl" style="line-height: 100%"> Representative Name,<br>Designation</td>
                <td width="46%" class="ttl">
                    <form action="">
                        <select name="contact" style="font-size: 8px">
                            <option value="blank"></option>
                            <option value="DIRECTOR"> , DIRECTOR</option>
                            <option value="SECRETARY"> , SECRETARY</option>
                        </select>
                    </form>
                </td>
                <td rowspan="3" class="ttl" width="35%" style="line-height: 15px;">
                    {% if app.stamp %}
                        <table cellpadding="2">
                            <tr>
                                <td>Business Stamp,<br>Rep. Signature & Date</td>
                                <td rowspan="2" style="line-height: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img width="70px" src="static/stamp/{{ datas.file_name }}"></td>
                            </tr>
                            <tr>
                                <td rowspan="3"><img width="80px" src="static/signature/LEE_YOUNGSANG_KEN.jpg"></td>
                            </tr>
                            <tr>
                                <td>
                                    <form action="">
                                        <input type="text" name="date" value="" size="16" >
                                    </form>
                                </td>
                            </tr>
                        </table>
                    {% else %}
                        Business Stamp,<br>&nbsp;&nbsp;Rep. Signature & Date
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td width="16%" class="ttl"> Rep. NRIC/FIN No.</td>
                <td width="49%" class="ttl">
                    <form action="">
                        <select name="contact001" style="font-size: 8px">
                            <option value="blank_Contact"></option>
                            <option value="ALD_DIRECTOR_ID_TYPE">HAMZA 0999</option>
                            <option value="ACT_SECRETARY_ID_TYPE">ALI 1111</option>
                        </select>
                    </form>
                </td>
            </tr>
            <tr>
              <td width="16%" class="ttl"> Rep. Contact No.</td>
              <td width="49%" class="ttl"> 1234567 #00000</td>
            </tr>
        </table>

        <table border="1" cellspacing="0" cellpadding="0" width="100%" style="font-family: Arial, Helvetica, sans-serif;">
            <tr>
                <td width="5%" class="ttc"> S/N</td>
                <td width="40%" class="ttl"> Name of Foreign Worker(s)</td>
                <td width="20%" class="ttc"> Passport / FIN / WP No.</td>
                <td width="18%" class="ttc"> Work Pass Type</td>
                <td width="17%" class="ttl" style="line-height: 100%" align="center"> Authorised Transaction</td>
            </tr>
            {% for item in app.applicants %}
                <tr>
                    <td width="5%" class="ttc">{{ loop.index }}</td>
                    <td width="40%" class="ttl"> {{ item.applicant or '' }}</td>
                    <td width="20%" class="tl">
                        <form action="">
                            <select name="FIN" style="font-size: 9px;">
                                <option value="b"></option>
                                <option value="FIN">{{ item.fin_no or '' }}</option>
                            </select>
                        </form>
                    </td>
                    <td class="ttc"> {{ item.visa_type or '' }}</td>
                    <td class="tl">
                        <form action="">
                            <select name="applies" style="font-size: 9px;">
                                <option value="application">Application</option>
                                <option value="renewal">Renewal</option>
                                <option value="transfer">Transfer</option>
                                <option value="cancellation">Cancellation</option>
                            </select>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <table border="1" cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td>
                    <table border="0" cellspacing="0" cellpadding="0" style="border: none;">
                        <tr style="border: none;">
                            <td width="5%" class="ttc" style="border: none;">■</td>
                            <td width="92%" class="ttl" style="border: none;">I hereby declare that I am authorising <b><u>LEE KIM HR PTE. LTD.
                                (14C7217)</u></b>
                            </td>
                            <td width="3%" style="border: none;"></td>
                        </tr>
                        <tr style="border: none;">
                            <td width="5%" class="ttl" style="border: none;"></td>
                            <td width="92%" class="ttl" style="border: none;">(Name and licence no. of employment agency) to perform the above work pass
                                transaction(s) on my behalf.
                            </td>
                            <td width="3%" style="border: none;"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <table border="1" cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td>
                    <table border="0" cellspacing="0" cellpadding="0" style="border: none;">
                        <tr style="border: none;">
                            <td width="1%" class="ttc" style="border: none;"></td>
                            <td width="96%" class="ttl" style="border: none;">Fill in only if applicable.</td>
                            <td width="3%" style="border: none;"></td>
                        </tr>
                        <tr style="border: none;">
                            <td width="5%" class="ttc" style="border: none;">□</td>
                            <td width="92%" class="ttl" style="border: none;">I hereby authorise __________________________ (Full name as in
                                NRIC/Passport), _________________
                            </td>
                            <td width="3%" style="border: none;"></td>
                        </tr>
                        <tr style="border: none;">
                            <td width="5%" class="ttc" style="border: none;"></td>
                            <td width="92%" class="ttl" style="border: none;">(NRIC/Passport No.), to submit this authorisation form on my behalf. A copy
                                of the representative’s
                            </td>
                            <td width="3%" style="border: none;"></td>
                        </tr>
                        <tr style="border: none;">
                            <td width="5%" class="ttl" style="border: none;"></td>
                            <td width="92%" class="ttl" style="border: none;">NRIC/Passport is enclosed with this authorisation form.</td>
                            <td width="3%" style="border: none;"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <div style="height:10px;"></div>
        <table border="1" cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td class="rl"> Declaration by EA</td>
            </tr>
        </table>

        <table border="1" cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td>
                    <table border="0" cellspacing="0" cellpadding="0" style="border: none;">
                        <tr style="border: none;">
                            <td width="5%" class="ttc" style="border: none;">■</td>
                            <td width="92%" class="ttl" style="border: none;">I have spoken to and verified with employer to confirm his / her authorisation.</td>
                            <td width="3%" style="border: none;"></td>
                        </tr>
                        <tr style="border: none;">
                            <td width="5%" class="ttc" style="border: none;">■</td>
                            <td width="92%" class="ttl" style="border: none;">I declare that I have verified the business details provided in this form in all
                              publicly available search portals/websites.
                            </td>
                            <td width="3%" style="border: none;"></td>
                        </tr>
                        <tr style="border: none;">
                            <td width="5%" class="ttc" style="border: none;">■</td>
                            <td width="92%" class="ttl" style="border: none;">I declare that I have ensured all necessary fields are filled in prior to making
                              the abovementioned work pass transactions.
                            </td>
                            <td width="3%" style="border: none;"></td>
                        </tr>
                        <tr style="border: none;">
                            <td width="5%" class="ttc" style="border: none;">■</td>
                            <td width="92%" class="ttl" style="border: none;">I declare that the information provided on this form is true and correct.</td>
                            <td width="3%" style="border: none;"></td>
                        </tr>
                    </table>
                    <table border="1" cellspacing="0" cellpadding="0" width="100%">
                        <tr>
                            <td width="21%" class="ttl"> Name of EA personnel</td>
                            <td width="45%" class="ttl"> LIN HUAYAN LAWRENCE</td>
                            <td rowdiv="2" width="0%" class="ttl" style="line-height: 100%"> Signature & Date&nbsp;&nbsp;<img width="60px" src="https://staging.erp.leekim.online/files/lawrence.png" width="150%">
                                <br>
                                <form action="">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="date" value="{{ app.date_of_application }}" size="9" style="font-size: 10px;line-height: 19px;">
                                </form>
                                <br>
                            </td>
                        </tr>
                        <tr>
                            <td width="21%" class="ttl"> Registration No.</td>
                            <td width="45%" class="ttl"> R1440132</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <div></div><br>

        <table border="0" cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td align="left"><img src="https://staging.erp.leekim.online/files/Authorisation_Form_Bottom001.png" width="100%"></td>
            </tr>
        </table>

        <div style="page-break-before: always"></div>

        <div style="font-size: 18px; line-height: 25px;font-family: Arial, Helvetica, sans-serif; color:black;">
            <div style="font-size: 40px; width:100%;text-align:center;line-height: 20px">
                Dispute Resolution with LEE KIM HR PTE. LTD.<br>
                <span style="font-size: 25px">(EA Reg No: R1440132)</span>
            </div>
            <br><br>
            <div style="font-size: 19px; line-height: 1.8;">1.&nbsp;&nbsp;&nbsp;Any dispute or complaint instituted by the Employer during the currency of the service<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;engagement shall be brought to the attention of the Agent in writing. Any counseling and or<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;mediation between the parties shall be conducted during office hours at the Agency office.
            </div>
            <br>
            <div style="font-size: 19px; line-height: 1.8;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A.&nbsp;&nbsp;Third Party Mediation: If the Agency is unable to resolve the grievance(s) of the Employer<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;under Clause 1 or if the parties are unable to resolve any dispute between them with respect<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to service engagement, the parties shall refer the grievance(s) or dispute to CASE Mediation<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Centre for mediation prior to instituting any legal action or proceedings. The parties hereby<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;agree to such procedures and to pay such fees as CASE Mediation Centre may prescribe<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;from time to time.
            </div>
            <br>
            <div style="font-size: 19px; line-height: 1.8;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B.&nbsp;&nbsp;Alternative Dispute Resolution Mechanisms: If the dispute arising from the service<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;engagement cannot be settled by mediation, the dispute can be brought forward to any<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;alternative dispute resolution mechanism provided by the respective Accreditation Body at<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the discretion of either the EA or the Employer.
            </div>
            <br>
            <div style="font-size: 19px; line-height: 1.8;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I had acknowledged terms and conditions and fees and engage the service with Lee Kim HR Pte<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ltd as our Employment Agency.
            </div>
            <div></div>
            <br><br><br><br>
            <table border="0" cellspacing="12" cellpadding="0" width="60%" style="font-size: 19px; border: none;">
                <tr style="font-size: 14px; border: none; width: 30%;">
                    <td class="signature" colspan="2" style="width: 30px; line-height: 30px; border: none; border-top: none; border-left: none; border-right: none; border-bottom: 1px solid #111111; font-family: 'Brush Script MT';">
                        <form action="">
                          <input type="text" name="signature" value="" size="26" style="font-size: 20px; line-height: 21px;">
                        </form>
                    </td>
                </tr>
                <tr style="font-size: 19px; border: none;">
                  <td colspan="2" style="font-size: 19px; border: none; line-height: 40px;">Signature of Employer/Client</td>
                </tr>
                <tr style="font-size: 14px; border: none;">
                    <td width="7%" style="font-size: 19px; border: none; line-height: 40px;">Name:</td>
                    <td width="43%" style="border-top: none; border-left: none; border-right: none; border-bottom: 1px solid #111111;">
                        <form action="">
                          <input type="text" name="client-name" value="" size="30" style="font-size: 14px; line-height: 21px;">
                        </form>
                    </td>
                </tr>
                <tr style="font-size: 14px; border: none;">
                    <td width="40%" style="font-size: 19px; border: none; line-height: 40px;">NRIC/FIN or Passport No:</td>
                    <td width="20%" style="border-top: none; border-left: none; border-right: none; border-bottom: 1px solid #111111;">
                        <form action="">
                          <input type="text" name="passport" value="" size="15" style="font-size: 14px; line-height: 21px;">
                        </form>
                    </td>
                </tr>
                <tr style="font-size: 14px; border: none;">
                    <td width="6%" style="font-size: 19px; border: none; line-height: 40px;">Date:</td>
                    <td width="44%" style="border-top: none; border-left: none; border-right: none; border-bottom: 1px solid #111111;">
                        <form action="">
                          <input type="text" name="signature-date" value="" size="30" style="font-size: 14px; line-height: 21px">
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>