<html>
  <body style="font-size:14px;">
  <p><strong>LIN HUAYAN, LAWRENCE</strong><br/>
    441A FERNVALE ROAD<br/>
    #11-301<br/>
    FERNVALE VISTA<br/>
    SINGAPORE (791441)</p>

  <div>Date: 26/04/2021</div>
  <br/>
  <div>The Directors and The Shareholders of</div>

  <p><strong>{{ app.company_name }}</strong><br/>
    {{ app.addr_1 }}<br/>
    {{ app.addr_2  }}<br/>
    ({{ app.postcode }})</p>

  <br/>
  <div>Dear Sirs</div>
  <br/>

  <div style="font-weight: bold">RESIGNATION AS A COMPANY DIRECTOR</div>
  <br/>

  <div>I, <strong>LIN HUAYAN, LAWRENCE</strong> hereby tender my resignation as Company Director and with immediate effect.</div>
  <br/>

  <div>Yours faithfully</div>
  <div><img
        src="https://www.leekim.co/admin/manager/php/connector.minimal.php?cmd=file&target=l1_TGF3cmVuY2UucG5n"
        style="height:80px;"><br/>
    _________________________<br/>
    <strong>LIN HUAYAN, LAWRENCE</strong>
  </div>

  </body>
</html>
